<!doctype html>
<html lang="en-US">
    <head>
        <title>Storm Conference Manager</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>{{name}}</h1>
        <h2>{{affiliation}}</h2>
        {{#email}}
            <span>{{.}}</span>
        {{/email}}
    </body>
</html>
