<!doctype html>
<html lang="en-US">
    <head>
        <title>Storm Conference Manager</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Content</h2>
        {{review.content}}
        <h2>Score</h2>
        {{review.score}}
    </body>
</html>
